#info {
    text-align: center;
    width: 100%;
    height: max-content;
    background-color: #E8E8E8;


}
#infoTekst {
    text-align: center;
    font-size: 30px;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 100px;
    padding-bottom: 50px;

}

button {
    text-align: center;
    display: inline-block;
    font-family: "Century Gothic";
    font-size: 40px;
    border: 2px solid Black;
    background-color: transparent;
    border-radius: 30px;
    margin-bottom: 100px;
    width: 330px;
    height: 92px;

}
button:hover {
    cursor: pointer;
    border: 2px solid #efa964;
    color: #efa964;
}


#visittkort {
    width: 100%;
    height: 800px;


}
