.card {
    width: 450px;
    height: 270px;
    border-radius: 20px;
    background: #efa964;
    color: white;
    align-items: center;
    display: grid;
    grid-template-columns: 40% auto;
    text-align: left;
    padding: 20px;

}
.card-details {
    padding-left: 30px;
}
.firstname {
    font-size: 20px;
}
.lastname {
    font-weight: 600;
    font-size: 30px;
    color: black;
    padding-bottom: 5px;
}
.school {
    font-size: 20px;
}
.program {
    font-weight: 600;
    font-size: 15px;
    color: black;

}
img {
    width: 100%;
}
.card-about {
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
}
.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.label {
    margin-top: 5px;
    font-weight: 600;
    color: black;
}

.input {
    font-size: 15px;
    margin-top: 5px;
    line-height: 20px;
}